/* main content areas*/

#container{
    max-width:1200px;
    margin:0 auto;
}
header#maintitle{
    width: 45%;
    padding: 4% 0% 2% 8%;
    background-color:#fff;
}
h1{
    font-size:40px;
    color:#7b3438;
}
h2, h3 {
    color: #bea318;
}
nav{
    width: 45%;
    padding: 0% 17% 2% 8%;
    background-color:#fff;
}
#content{
    width:45%;
    padding:3% 15% 3% 10%;
    float:left;
}

aside#sidebar{
    float:right;
    padding:3%;
    width:24%;
    background-color:#fff;
}
footer{
    clear:both;
    width:94%;
    padding:3%;
    background-color:#fdda24;
}

/*navigation styles*/
nav ul li { 
display: inline-block;
padding: 5px 1.5% 5px 1.5%;
background-color: #fff;
margin: 0.5%;
border-top: 1px solid #fdda24;
border-bottom: 1px solid #fdda24;
}

nav ul li a{
    text-decoration: none;
    font-size: 1.2em;
   
}

nav ul li a:link{
    color: #bea318;
}

nav ul li a:visited{
    color: #bea318;
}

nav ul li a:hover{
    color: #978215;
}

nav ul li a:active{
    color: #b19819;
}

/* media screen sizes */
@media all and (max-width: 768px){
 header {
     text-align: center;
 }   
 
 nav{
     text-align: center;
 }
 #content{ 
 width: 76%;
 padding: 3% 12% 3% 12%;
 float:none;}
 
 aside#sidebar{
     display: none;
 }
 
 nav ul li{
     display: block;
     width: 94%;
 }

}


